= form_for @message do |f|
  =f.hidden_field :recipient, :value => params[:recipient]
  =f.hidden_field :post_id, :value => params[:post_id]  
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  %div.control-group   
    / = f.label :subject, :class => "control-label"
    %div.controls
      = f.text_field :subject, :class => "input-block-level inline", :placeholder => "Subject"
  /= params[:recipient].to_s
  %div.control-group   
    / = f.label :content, :class => "control-label"
    %div.controls
      = f.text_area :content, :class => "input-block-level inline", :placeholder => "Email Content", :rows => "8"
  = debug(params) if Rails.env.development?
  .actions
    = f.submit 'Send Your Message'
