= form_for @group do |f|
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  
  %div.control-group   
    = f.label :name, :class => "control-label"
    %div.controls
      = f.text_field :name, :class => "input-block-level inline", :placeholder => "Group Name"

  %div.control-group   
    = f.label :description, :class => "control-label"
    %div.controls
      = f.text_area :description, :rows => "5", :class => "input-block-level inline", :placeholder => "Description of Group"
  = f.label :private, :class => "checkbox" do
    = f.check_box :private, :class => "checkbox"
    =label_tag "Private"
  %div.row
    %div.span1
      %div.control-group
        =f.label :zipcode, :class => "control-label"
        %div.controls
          =f.text_field :zipcode, :class => "input-block-level inline", :placeholder => "03755" 
  = f.submit 'Save', :class => "btn btn-primary"
