= form_for @group, :html =>{:class => "form"} do |f|
  =hidden_field_tag('group[member_ids][]', current_user.id)
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  
  %div.control-group   
    = f.label :name, :class => "control-label"
    %div.controls
      = f.text_field :name, :class => "input-block-level inline", :placeholder => "Group Name"

  %div.control-group   
    = f.label :description, :class => "control-label"
    %div.controls
      = f.text_area :description, :rows => "5", :class => "input-block-level inline", :placeholder => "Description of Group"
  = f.label :private, :class => "checkbox" do
    = f.check_box :private,:class => "checkbox", :id => "private"
    =label_tag "Private"
  %div.row
    %div.span3
      %div.control-group
        =f.label :password, "Pass-phrase to get into group", :class => "control-label"
        %div.controls
          = f.text_field :password, :class => "input-block-level inline", :placeholder => "Password", :disabled => !@group.new_record? && @group.password? ? false : true, :id => "private_group"
  %div.row
    %div.span1
      %div.control-group
        =f.label :zipcode, :class => "control-label"
        %div.controls
          =f.text_field :zipcode, :class => "input-block-level inline", :placeholder => "03755"
          
        
  /PHOTO UPLOAD FIELDS        
  %div.row-fluid
    %div.span8
      -@assets.each do |asset|
        =f.fields_for :assets, asset do |asset_fields|
          -if asset_fields.object.image_file_name.nil?
            %div.control-group
              =asset_fields.label "image", :class=>"control-label"
              %div.controls
                =asset_fields.file_field :image
          -else
            /= asset_fields.check_box asset_fields.file_field :image_delete, :label => 'Delete Image'
            =image_tag(asset_fields.object.image.url(:post))
            =asset_fields.label  "delete image"
            =asset_fields.check_box :_destroy
          
          
          
  = f.submit 'Save', :class => "btn btn-primary submit-button"
