= form_for @group, :html =>{:class => "form"} do |f|
  =hidden_field_tag('group[member_ids][]', current_user.id)
  - if @group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@group.errors.count, "error")} prohibited this group from being saved:"
      %ul
        - @group.errors.full_messages.each do |msg|
          %li= msg
  
  %div.form-group   
    = f.label :name, :class => "control-label"
    = f.text_field :name, type: "text", :class => "form-control", :placeholder => "Group Name"

  %div.form-group   
    = f.label :description, :class => "control-label"
    %div.controls
      = f.text_area :description, type: "text", :rows => "5", :class => "form-control", :placeholder => "Description of Group"


  .row
  
    .col-lg-6
      = f.collection_select(:group_category_id, GroupCategory.all, :id, :name, {:prompt => 'Group Type'},:class => "form-control")
  %br/
  
  %div.form-group
    =f.label :zipcode, :class => "control-label"
    %div.controls
      .col-lg-3.no-left-padding
        =f.text_field :zipcode, type: "text", :class => "form-control", :placeholder => "03755"

  %br/
  %br/
  %br/
  %p.bold Optional:
  = f.label :private, :class => "checkbox" do
    = f.check_box :private,:class => "checkbox", :id => "private"
    =label_tag "Private"
  %div.form-group
    =f.label :password, "Pass-phrase to get into group", :class => "control-label"
    %div.controls
      .col-lg-5.no-left-padding
        = f.text_field :password, type: "text", :class => "form-control", :placeholder => "Password", :disabled => !@group.new_record? && @group.password? ? false : true, :id => "private_group"
          
  
  %br/
  %br/
  %br/     
  /PHOTO UPLOAD FIELDS        
  %div.row
    %div.col-lg-8
      -@assets.each do |asset|
        =f.fields_for :assets, asset do |asset_fields|
          -if asset_fields.object.image_file_name.nil?
            %div.form-group
              =asset_fields.label "image", :class=>"control-label"
              %div.controls
                =asset_fields.file_field :image
          -else
            /= asset_fields.check_box asset_fields.file_field :image_delete, :label => 'Delete Image'
            =image_tag(asset_fields.object.image.url(:post))
            =asset_fields.label  "delete image"
            =asset_fields.check_box :_destroy
          
          
          
  = f.submit 'Save', :class => "btn btn-primary submit-button"
