/ %p#notice= notice
%div.row-fluid
  -unless @group.assets.empty?
    %div.span3
      =link_to image_tag(@group.assets.empty?  ? '/assets/small.png': @group.assets.first.image.url(:medium), :alt => @group.name), group_url(@group), :class => "thumbnail"
  %div.span9
    %h1 #{@group.name}
    -if @group.private?
      %p (private group)
    %div.row-fluid
      %p #{@group.description}
    / %p
    /   %b Name:
    /   = @group.name
    / %p
    /   %b Description:
    /   = @group.description
    / %p
    /   %b Group category:
    /   = @group.group_category
    
    

-if @group.private? && current_user && current_user.admin?
  =link_to "Show Members","#", :class => "show-members-link"
  =link_to "Hide", "#", :class => "hide-link",:style => "display:none;"
  %div.private-user-list{:style => "display:none;"}
    -@group.members.each do |member|
      %p #{member.name ? member.name : member.email}
  %p Group password will be included in the invite email
  = render :partial => 'invite', :locals => {:group => @group}
  -unless @group.posts.empty?
    %h2 Posts
    =render :partial => 'shared/feed',:locals => {:feed_items => @posts}    
-if @group.private? && @group.members.include?(current_user)
  =link_to "Show Members","#", :class => "show-members-link"
  =link_to "Hide", "#", :class => "hide-link",:style => "display:none;"
  %div.private-user-list{:style => "display:none;"}
    -@group.members.each do |member|
      %p #{member.name ? member.name : member.email}
  %p Group password will be included in the invite email
  = render :partial => 'invite', :locals => {:group => @group}
  -unless @group.posts.empty?
    %h2 Posts
    =render :partial => 'shared/feed',:locals => {:feed_items => @posts}

-if flash[:wrong_password]
  %p#wrong_password= "Wrong password homie"

=render "shared/simple_join", :group => @group  
/=render "join_form", :group => @group
-if current_user && !@group.private?
  = render :partial => 'invite', :locals => {:group => @group}
  %h2 Posts
  =render :partial => 'shared/feed',:locals => {:feed_items => @posts}
-if current_user && current_user.groups_as_owner.include?(@group)
  = link_to 'Edit', edit_group_path(@group)
  |
  = link_to 'Destroy!', @group, method: :delete, data: { confirm: 'Are you sure?' }



-if current_user && current_user.admin?
  = form_tag bulk_update_path do
    =hidden_field_tag :group_id, @group.id
    %table
      %th Delete
      %th Name
      - @group.memberships.each do |membership|
        %tr
          %td= check_box_tag "delete[]", membership.id
          %td= User.find(membership.member_id).name

    = button_tag "Delete users"
