  <!-- Header w/ Name, Points and SuperSeller status -->

<div class="row user-profile-header">
  <h1>
      <%= "#{@user.name}  " %>
      <span><%= "#{@user.points} points" %></span>
      <span><%= "SuperSeller✓" if @user.super_seller %>
  </h1>
</div>

<div class="row user-page">

  <!-- Left panel -->

  <div class="col-md-3 left-panel user-col">
        <%= link_to "Account Settings", edit_user_path(@user) %><br><br>
        <%= link_to "Sell with SuperSeller", new_super_seller_job_path, :class => "btn btn-danger" %>
        <% if @user.super_seller %>
          <%= link_to "Post New Item as SuperSeller", new_post_path(:sseller_post => true), :class => "btn btn-success"  %>
          <%= link_to "See all Super Seller Jobs", super_seller_jobs_path, :class => "btn btn-warning"  %>
        <% else %>
          <br>
          <%= link_to "Join our SuperSeller program", '/join-superseller' if not @user.super_seller %>
        <% end %>
        <hr>
        <% if !@groups.nil? %>
          <h4>Your Groups</h4>
          <%= render :partial => 'shared/your_group_feed', :collection => @groups, :as => :group %>
        <% end %>
        <% if !@rec_groups.nil? && @rec_groups.first.is_a?(Group) %>
          <h3>Recommended Groups:</h3>
          <% @rec_groups.each do |group| %>
            <div class="row">
              <div class="image col-lg-2">
                <%= link_to image_tag(group.assets.empty?  ? '/assets/small.png': group.assets.first.image.url(:small), :alt => group.name), group_url(group) %>
              </div>
              <div class="feed_item">
                <div class="col-lg-10">
                  <div class="row">
                    <span class="feed-title"></span>
                    <%= link_to group.name, group_url(group) %>
                  </div>
                  <div class="row">
                    <span class="description">
                      <%= truncate(group.description, 10) %>
                    </span>
                  </div>
                </div>

                  <%= render "groups/join_form", :group => group %>

              </div>
            </div>
          <% end %>
        <% end %>
        <hr>
        <h4>Your Badges</h4>

        <% if @badges.empty? %>
          <p>No badges</p>
        <% else %>
          <% @badges.each do |v| %>
            <% @badge_hash[v] += 1 %>
          <% end %>
          <% @badge_hash.each do |k, v| %>
            <p class="badge"><%= k %></p>
            <% if v>1 %>
              x <%= v %>
            <% end %>
          <% end %>
        <% end %>
        <hr>

  </div>

  <!-- Main Middle -->

  <!-- Regular Posts -->

  <div class="col-md-7 middle-panel user-col">
    <% if @posts.empty? %>
      <div class="panel panel-default text-center">
        <div class="panel-body">
        <h2>You have no posts.</h2>
          <%= link_to "Post Something", new_post_path, class: "btn_post_flat" %>
        </div>
      </div>
    <% else %>
      <h4>Your Posts</h4>
      <div class='posts-container'>
        <table class="table table-striped">
          <tr>
            <th>Item</th>
            <th>Date posted</th>
            <th>Active?</th>
            <th class='table-actions'>Actions</th>
          </tr>
            <% @posts.each do |post| %>
              <tr>
                <td><%= link_to post.title, post_url(post) %></td>
                <td><%= time_ago_in_words(post.created_at) %> ago</td>
                <td><%= post.active %></td>
                <td class="post-management-buttons">
                  <%= link_to 'Edit', edit_post_path(post) %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <% if post.active? %>
                    <%= link_to 'Deactivate', deactivate_post_path(post) %>
                  <% else %>
                    <%= link_to 'Reactivate', reactivate_post_path(post) %>
                  <% end %>
                  <% if post.completed? %>
                    <%= link_to 'Undo', undo_completed_post_path(post) %>
                  <% else %>
                    <% if post.post_category == nil %>
                      <%= link_to 'completed', complete_post_path(post) %>
                    <% else %>
                      <%= link_to post.post_category.name == 'Wanted' ? 'Got It' : 'Sold It', complete_post_path(post) %>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>  <!-- End Posts -->
          </table>
        </div>
    <% end %>

  <!-- SuperSeller Posts -->

    <% if @user.super_seller %>
      <% if @sseller_posts.empty? %>
        <div class="panel panel-default text-center">
          <div class="panel-body">
          <h2>You have no <span id="super-seller">SuperSeller posts</span>.</h2>
            <%= link_to "Post New Item as SuperSeller", new_post_path(:sseller_post => true), :class => "btn btn-success"  %>
          </div>
        </div>
      <% else %>
        <div class='super-seller-posts-container'>
        <h4>Your <span>SuperSeller Posts</span></h4>
          <table class="table table-striped">
            <tr>
              <th>Item</th>
              <th>Posted For</th>
              <th>Date posted</th>
              <th>Active?</th>
              <th class='table-actions'>Actions</th>
            </tr>
              <% @sseller_posts.each do |post| %>
                <tr>
                  <td><%= link_to post.title, post_url(post) %></td>
                  <td><%= link_to post.posted_for_user.name, user_path(post.posted_for_user) %></td>
                  <td><%= time_ago_in_words(post.created_at) %> ago</td>
                  <td><%= post.active %></td>
                  <td class="post-management-buttons">
                    <%= link_to 'Edit', edit_post_path(post) %>
                    <% if post.active? %>
                      <%= link_to 'Deactivate', deactivate_post_path(post) %>
                    <% else %>
                      <%= link_to 'Reactivate', reactivate_post_path(post) %>
                    <% end %>
                    <% if post.completed? %>
                      <%= link_to 'Undo', undo_completed_post_path(post) %>
                    <% else %>
                      <% if post.post_category == nil %>
                        <%= link_to 'completed', complete_post_path(post) %>
                      <% else %>
                        <%= link_to post.post_category.name == 'Wanted' ? 'Got It' : 'Sold It', complete_post_path(post) %>
                      <% end %>
                    <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>  <!-- End super-seller-posts-container -->
      <% end %>
    <% end %>

  <!-- Super Seller Jobs -->

    <% if @user.super_seller_jobs.empty? %>
       <div class="panel panel-default text-center">
        <div class="panel-body">
        <h2>You have no <span id="super-seller-jobs">SuperSeller jobs</span>.</h2>
          <%= link_to "Sell with SuperSeller", new_super_seller_job_path, :class => "btn btn-danger" %>
        </div>
      </div>
    <% else %>
       <div class='super-seller-jobs-container'>
        <h4>Your <span id="super-seller-jobs">SuperSeller Jobs</span></h4>
          <table class="table table-striped">
            <tr>
              <th>Status</th>
              <th>Your SuperSeller</th>
              <th>Estimated Value</th>
              <th>Date posted</th>
              <th class='table-actions'>Actions</th>
            </tr>
            <% @user.super_seller_jobs.each do |job| %>
              <tr>
                <td><%= job.status %></td>
                <td><%= job.seller ? (link_to job.seller.name, user_path(job.seller)) : nil %></td>
                <td>$<%= job.estimated_value %></td>
                <td><%= time_ago_in_words(job.created_at) %> ago</td>
                <td class="post-management-buttons">
                  <%= link_to 'Edit', edit_super_seller_job_path(job) %>
                  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure you want to permanently delete this job?' } %>
                  <% if job.status == "active" %>
                    <%= link_to 'Deactivate Job', super_seller_job_path(job, "super_seller_job[status]" => 'inprogress'), :method => :put, :confirm => "Did a SuperSeller pick up all items for this job?" %>
                  <% else %>
                    <%= link_to 'Reactivate Job', super_seller_job_path(job, "super_seller_job[status]" => 'active'), :method => :put, :confirm => "Reactivating your job means it will be visible again for all SuperSellers who want to sell for you.  Are you sure you want to reactivate this job?" %>
                  <% end %>

                </td>
              </tr>
              <% end %>
            </table>
        </div>  <!-- End super-seller-jobs-container -->
    <% end %>


  </div>




  <!-- Right Panel -->

  <div class="col-md-2 right-panel user-col">
    <%= render :partial => 'shared/banner_group', :locals => {:groups => @random_groups} %>
  </div>

</div>   <!-- End "row user-page" -->

