%p#notice= notice


/=render "groups/group", :collection => @groups, :as => :group
/=@groups
-if current_user && current_user.admin?
  %div.row-fluid
    %p Users count: #{@users_count}
    %p Super Users:
    %ul
      -if !@users_with_5_posts.nil?
        -@users_with_5_posts.each do |x|
          -if x.posts.count > 5
            %li #{x.name}, with #{x.posts.count}, fifth post was created: #{x.posts.fifth.created_at.strftime("%d %b. %Y")}
          -else
            %li #{x.name}, with #{x.posts.count}
    %p Posts count: #{@posts_count}
%div.row-fluid
  %p
    %b Email:
    = @user.email
%div.row-fluid
  %p
    %b Name:
    = @user.name
%div.row-fluid  
  = link_to 'Edit Your Details', edit_user_path(@user)
%div.row-fluid
  %div.span3
    /%a.btn{ :href => "mailto:#{@post.email}", :role => "button"}
    =link_to "Edit Email Settings", "#", :id => "email_settings_link"
    %div.email-settings-cloak{:style=>"display:none"}
      =render "edit_email_settings"
  
%div.row-fluid
  =link_to "Post  a Post", new_post_path, :class => "btn btn-primary", :role => "button"
%div.row-fluid
  %h4 Your Groups
  =render :partial => 'shared/your_group_feed', :collection => @groups, :as => :group
%div.row-fluid  
  -if !@rec_groups.nil? && @rec_groups.first.is_a?(Group)
    %h3 Recommended Groups:
    -@rec_groups.each do |group|
      %div.row-fluid
        %div.image.span2
          =link_to image_tag(group.assets.empty?  ? '/assets/small.png': group.assets.first.image.url(:small), :alt => group.name), group_url(group)
        %div.feed_item
          %div.span10
            %div.row-fluid
              %span.feed-title
              = link_to group.name, group_url(group)
            %div.row-fluid
              %span.description
                = truncate(group.description, 10)
          %div.span2
            = render "groups/join_form", :group => group
  %table.table.table-striped
    %tr
      %th My posts
      %th Date posted
      %th Active?
      %th.table-actions Actions
    -@posts.each do |post|
      %tr
        %td #{link_to post.title, post_url(post)}
        %td #{time_ago_in_words(post.created_at)} ago
        %td #{post.active}
        %td
          = link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini'
          = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger destroy_region'
          -if post.active?
            = link_to 'Deactivate', deactivate_post_path(post), :class => 'btn btn-mini btn-deactivate deactivate_region'
          -else
            = link_to 'Reactivate', reactivate_post_path(post), :class => 'btn btn-mini btn-success'



