%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Name:
  = @user.name
=link_to "Post  a Post", new_post_path, :class => "btn btn-primary", :role => "button"
 
%table.table.table-striped
  %tr
    %th My posts
    %th Date posted
    %th Active?
    %th.table-actions Actions
  -@posts.each do |post|
    %tr
      %td #{post.title}
      %td #{time_ago_in_words(post.created_at)} ago
      %td #{post.active}
      %td
        = link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini'
        = link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger destroy_region'
        -if post.active?
          = link_to 'Deactivate', deactivate_post_path(post), :class => 'btn btn-mini btn-deactivate deactivate_region'
        -else
          = link_to 'Reactivate', reactivate_post_path(post), :class => 'btn btn-mini btn-success'

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
