%div{:id => "join_button_"+group.id.to_s}
  -if current_user
    -if group.members.include?(current_user)
      /=render :partial => "leave"
      = form_for current_user.memberships.find_by_group_id(group), html: { :method => :delete, :class => "form" }, remote: true do |f|
        =f.hidden_field :group_id, :value => group.id                                            
        = f.submit "Leave", class: "anti-button"
      /=link_to "Leave", membership_url(current_user.memberships.find_by_group_id(group)), :method => :delete, :confirm => "Are you sure?"
    -else

      -if group.private?
        =form_tag(private_groups_path,  method: :put) do
          =hidden_field_tag :group_id, group.id
          =hidden_field_tag('group[member_ids][]', current_user.id)
          %div.span3
            =text_field_tag :password, nil, :class => "input-block-level inline", :placeholder => "Password", :id => "join_private_group"
          =submit_tag "Join", :class => "btn btn-default btn-sm btn-join"
      -else
        = form_for current_user.memberships.build(:group_id => group.id), :url => join_memberships_path, remote: true  do |f|                                          
          = f.hidden_field :group_id
          = f.submit "Join", class: "btn btn-default btn-sm btn-join"
        / =form_for group do |f|
        /   =hidden_field_tag('group[member_ids][]', current_user.id)
        /   =f.submit "Join", :class => "btn btn-mini"
  -else
    -if group.private?
      / =form_tag(private_groups_path,  method: :put) do
      /   =hidden_field_tag :group_id, group.id
      /   =hidden_field_tag('group[member_ids][]', @user.id)
      /   %div.span3
      /     =text_field_tag :password, nil, :class => "input-block-level inline", :placeholder => "Password", :id => "join_private_group"
      /   =submit_tag "Join", :class => "btn btn-mini"
      =link_to_modal "Join", new_user_path(:group_id => group.id), :class => "btn btn-default btn-sm", :remote => true 
    -else
      = form_for @user.memberships.build(:group_id => group.id), :url => join_memberships_path  do |f|                                          
        = f.hidden_field :group_id
        = f.submit "Join", class: "btn btn-default btn-sm btn-join"