/THIS IS THE MODULAR PREMIUM POST THAT IS LISTED/SHOWN in FEEDS
/OK?
/GOOD.
%div.feed-item.row-fluid
  %div.row-fluid
    %div.image.span2
      =link_to image_tag(feed_item.assets.empty?  ? '/assets/small.png': feed_item.assets.first.image.url(:small), :alt => feed_item.title), post_url(feed_item)
    %div.span7
      %div.row-fluid
        /price
        /make price a variable that can be passed into the modal partials below so
        /that on credit card charge, we know how much to charge
        %span.feed-title
          .feed-title= link_to feed_item.title, post_url(feed_item)
      %div.row-fluid.description-row
        %span.description
          = truncate(feed_item.description, 25)
    %div.span3
      %div.slim-button-row
        %div.buy.pull-left
          -if feed_item.tier_id
            -if signed_in? && current_user.stripe_customer_id
              = form_for @transaction, :url => customer_purchase_transactions_path(@transaction), :html => {:id => "slim_post_customer_buy_button"}  do |f|
                - if @transaction.errors.any?
                  .error_messages
                    %h2
                      = pluralize(@transaction.errors.count, "error")
                      prohibited this transaction from being saved:
                    %ul
                      - @transaction.errors.full_messages.each do |msg|
                        %li= msg                                          
                =f.hidden_field :post_id, :value => feed_item.id
                =f.submit "Buy | $#{Tier.find(feed_item.tier_id).price/100}", class: "btn btn-mini btn-success"
            -elsif signed_in? && current_user.stripe_customer_id.nil?
              =link_to "Buy | $#{Tier.find(feed_item.tier_id).price/100}", new_transaction_path(:post_id => feed_item.id), :id => "new_transaction_link", :class => "btn btn-mini btn-success", :data_postid => feed_item.id 
              %div#transaction_modal.modal.hide
            -else
              =link_to "Buy | $#{Tier.find(feed_item.tier_id).price/100}", new_transaction_path(:post_id => feed_item.id), :id => "new_transaction_link", :class => "btn btn-mini btn-success", :data_postid => feed_item.id
          -elsif feed_item.price
            %span.non-tier-price$#{feed_item.price}
        %div.email.pull-right
          %a.btn.btn-mini{ :href => "mailto:#{feed_item.email}", :role => "button"} Email
    

  %div.row-fluid.tag-row
    -feed_item.tags.each do |tag|
      %span
        %div#whole_tag
          %span#span-tag
          =link_to tag.name, tag_url(tag), :class => "tag"
    %span.slim-feed-timestamp #{time_ago_in_words(feed_item.created_at)} ago.




  / - if current_user?(feed_item.user)
  /   = link_to "delete", feed_item, method:  :delete, confirm: "You sure?",title:   feed_item.content