%div.row-fluid
  %div.span8
    %h1 About
    
    %h4 Buy more used goods
    %p
      %span.checkmark #{image_tag("checkmark-icon.png")}
      sustainable living
    %p
      %span.checkmark #{image_tag("checkmark-icon.png")}
      save money
    
    %h4 Buy new stuff and get it locally or from sustainable companies
    %p
      %span.checkmark #{image_tag("checkmark-icon.png")}
      sustainable living
    %p
      %span.checkmark #{image_tag("checkmark-icon.png")}
      strengthen your community
    %h4 Get points and redeem them
    %p
      %span.checkmark #{image_tag("checkmark-icon.png")}
      giftcards to sustainable companies
    %p
      %span.checkmark #{image_tag("checkmark-icon.png")}
      donate them to local non-profits
     
    / 
    /     %p Dartmouth needs a community marketplace.
    / 
    /     %p No one uses Craigslist or Ebay because they are both highly annoying for various reasons.
    / 
    /     %p Ebay is for shipping high-value items and you need to bid, and it requires a lot of engagement from buyers to track the items they want, determine if the seller is reputable, and win the actual auction. A Seller practically needs to have a merchant license for all the effort that goes into posting an item- writing up extensive descriptions, buying shipping materials, taking professional pictures of the item, etc...
    / 
    /     %p Craigslist has some seriously weird vibes, what-with it being used for adult classifieds, nefarious ploys by serial killers, and the awkward nature of many of the transactions. It lacks an element of community.
    / 
    /     %p People and Stuff aims to be an easy way for people to start circulating all the stuff that has accumulated in their possession. 
    / 
    /     %p Join specialized groups to make it easier to share your postings and to get targeted notifications about stuff that matters to you
    / 
    / 
    /     %p Here are some limericks that convey my feelings on Ebay and Craigslist.
    /     %p Feel free to submit your own short missives, haikus, sonnets, etc... below.
    / 
    /     %h4 Death By a Thousand Forms:
    /     %p To buy and sell things on Ebay,
    /     %p Is no way to spend your whole day.
    /     %p It takes so much time,
    /     %p They nickel and dime,
    /     %p I'd rather get mauled by a Blue Jay
    /     %br
    /     %h4 Sketchy Craigslist- A cautionary tale:
    /     %p I bought a new couch on Craigslist
    /     %p For my roommate to have his tryst
    /     %p At the seller's abode
    /     %p Things began to implode
    /     %p When he chopped off my hand at the wrist
    /     =image_tag "PSLogo.png"

    
  %div.span4
    %h3 Contact
    =form_tag "/contacts",  :method => :post, :class => "contact-me-submit" do
      / =hidden_field_tag :from, current_user.id
      -if current_user
        =hidden_field_tag :email, current_user.email
      -else
        =text_field_tag 'email', params[:email], :class => "input-block-level", :placeholder => "Your email so I can reply"
      %div.row-fluid
        %span.area
          =text_area_tag :content, params[:content], :class => "input-block-level", :placeholder => "Questions, comments, criticisms, and concerns", :rows => "10"
      =submit_tag "Contact Me", :class => "contact-me-submit"

    %h3 Or
    %p Brian Joseff
    %p brianjoseff123@gmail.com
//form for user submissions
