%p#notice= notice

%p
  %b Name:
  = @tag.name
  #follow_form
    =render 'follow_form', :tag => @tag
%p
  %b Description:
  = @tag.description
-unless @tag.posts.empty?
  =will_paginate @posts
  /=render @posts
  
  =render :partial => 'shared/post_feed', :collection => @posts, :as => :feed_item
  =will_paginate @posts

= link_to 'Edit', edit_tag_path(@tag)
\|
= link_to 'Back', tags_path
