/////////////////////////////
/////// USER FORM   /////////
/////////////////////////////
/only needs to enter these fields:
/post category
/title
/tier or cash
/description
/tags
/.....NO email field





/ = form_for @post.new_record? ? setup_post(@post, @groups) : @post, :html => { :multipart => true, :class => "form-horizontal user-post"} do |f|
/   - if @post.errors.any?
/     #error_explanation
/       %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
/       %ul
/         - @post.errors.full_messages.each do |msg|
/           %li= msg
/           
/   %div.control-group
/     %div.controls.random-form-elements.form-inline
/       %div.span2
/         %h4 Category
/         -@categories.each do |c|
/           %div.row
/             =f.radio_button :post_category_id, c.id, :onclick => ("wanted()" if c.id==32)
/             =c.name.humanize
/       %div.span2
/         -@assets.each do |asset|
/           =f.fields_for :assets, asset do |asset_fields|
/             -if asset_fields.object.image_file_name.nil?
/               =asset_fields.label "image"
/               =asset_fields.file_field :image
/             -else
/               =image_tag(asset_fields.object.image.url(:post))
/               =asset_fields.label  "delete image"
/               =asset_fields.check_box :_destroy
/               
/   %div.row-fluid
/     %div.span7
/       %div.control-group
/         =f.label :tier, "Value tier", :class=>"control-label"
/         %div.controls#tier_field
/           = f.collection_select(:tier_id, Tier.all, :id, :name, :prompt => "Choose a value for your post", :class => "inline")
/       / %div.random-form-elements
/       /   %p.underline or
/       / %div.control-group
/       /   = f.label :cash, :class => "control-label"
/       /   %div.controls
/       /     =f.check_box :cash, :class => "input-block-level inline cash-box"
/       /     %div.cash-field{:style=>"display:none"}
/       /       $
/       /       =f.text_field :price, :class => "input-block-level inline span1", :placeholder => "price"
/     %div.span5
/       %div.span1
/         %p.underline or
/       %div.span11
/         %div.control-group.span7.padding5
/           = f.label :cash, :class=>"control-label"
/           %div.controls#cash-box
/             =f.check_box :cash, :class => "input-block-level inline cash-box"
/         %div.cash-field-cloak{:style=>"display:none"}
/           %div.span5.cash-field
/             $
/             =f.text_field :price, :class => "input-block-level inline span10", :placeholder => "price"
/ 
/     / %div.span3
/     /   = f.check_box :borrow, :onclick=>"borrow()"
/     /   = f.label :borrow, :class => "checkbox inline"
/     /   / if this is checked, it should hide the tier collection select
/ 
/ 
/   %div.control-group
/     =f.label :title, :class => "control-label"
/     %div.controls
/       = f.text_field :title, :class => "input-block-level inline", :placeholder => "Perfectly Functional Dorm Fridge"
/       
/   %div.control-group
/     =f.label :description, :class => "control-label"
/     %div.controls
/       = f.text_area :description, :class => "input-block-level inline", :placeholder => "An Amish father and son are in a mall for the first time. They watch an old, grizzled woman walk into an elevator. Doors close. Minute later, doors open and a buxom blonde saunters out. The man turns to his son and says, 'Zebediah, get your mother, quick!'.... This fridge is the same. It works magic.", :rows => "8"
/       
/   %div.control-group
/     =f.label :tag_tokens, "Categories", :class => "control-label token-label"
/     %div.controls#token-field
/       //insert tag form field here
/       =f.text_field :tag_tokens, data: {:load => @post.tags}, :class => "input-block-level inline"
/   
/   %div.control-group
/     -unless current_user
/       =f.label :email, :class => "control-label"
/       %div.controls
/         =f.text_field :email, :class => "input-block-level inline", :placeholder => "brian@chyeah.com" 
/ 
/       //Put opt password field in here as well to make user object on post submit
/   %div.random-form-elements
/     -if @message
/       %div.row.message
/         =@message
/         /make a button to join groups in modal window
/     %div.row.group-row
/       =f.fields_for :assignments do |ff|
/         =ff.label :_destroy, ff.object.group.name , :class => "checkbox" do
/           =ff.check_box :_destroy, {:checked => ff.object.persisted?, :class=>"group-box"}, '0','1'
/           =ff.object.group.name.humanize
/         
/           =ff.hidden_field :group_id
/   /STRIPE INTEGRATION FOR CREATING A CUSTOMER      
/   %div#post-credit-fields{:style=>"display:none"}      
/     =render 'modal_credit', user: @user
/     %div.row
/ 
/     / .field
/     /   = f.label :premium
/     /   = f.check_box :premium
/   %div.control-group
/     = f.submit 'Upload your post!', :class => "btn btn-custom btn-large"
/     
/ %div#tier_explanation_wrapper
/   %div#tier_explanation
/     %p Assign your post to a value tier. The instant someone clicks "buy" on your post, an email with a coupon or giftcard will arrive in your inbox.
/   %div#tier_arrow
/   
  
  
= form_for @post.new_record? ? setup_post(@post, @groups) : @post, :html => { :multipart => true, :class => "form-horizontal user-post"} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  =f.hidden_field :stripe_card_token
  %div.control-group
    .control-label=label_tag "Post Type"
    %div.controls
      .btn-group{"data-toggle" => "buttons-radio"}
        %button.switch.btn.active{"data-id" => @post_categories.first.id} #{@post_categories.first.name}
        -@post_categories[1..5].each do |c|
          %button.switch.btn{"data-id" => c.id} #{c.name} 
          / =f.label :post_category, :class => "radio" do
          /    =f.radio_button :post_category_id, c.id, :class => "btn btn-info", :html => {"data-toggle" => "buttons-radio", "class-toggle" => "btn-info"}
      =f.hidden_field :post_category_id, id: "post_cateogry_button_value", value: "1"
    
  /POST TITLE
  %div.control-group
    =f.label :title, :class => "control-label"
    %div.controls
      = f.text_field :title, :class => "input-block-level inline", :placeholder => "Perfectly Functional Dorm Fridge"

  /DESCRIPTION    
  %div.control-group
    =f.label :description, :class => "control-label"
    %div.controls
      = f.text_area :description, :class => "input-block-level inline", :placeholder => "An Amish father and son are in a mall for the first time. They watch an old, grizzled woman walk into an elevator. Doors close. Minute later, doors open and a buxom blonde saunters out. The man turns to his son and says, 'Zebediah, get your mother, quick!'.... This fridge is the same. It works magic.", :rows => "8"


  / =f.fields_for :users do |u|
  /   %div.control-group
  /     =u.label :password
  /     %div.controls
  /       =u.text_field :password


  /TIER and CASH MONEY FIELDS
  %div#get_paid_stuff         
    %div.row-fluid
      %div.span7
        %div.control-group
          =f.label :tier, "Get Paid", :class=>"control-label"
          %div.controls#tier_field
            = f.collection_select(:tier_id, Tier.all, :id, :name, :class => "inline")
      %div.span5
        %div.span1
          %p.underline or
        %div.span11
          %div.control-group.span7.padding5
            = f.label :cash, :class=>"control-label"
            %div.controls#cash-box
              =f.check_box :cash, :class => "input-block-level inline cash-box"
          %div.cash-field-cloak.span5{:style=>"display:none"}
            %div.cash-field
              $
              =f.text_field :price, :class => "input-block-level inline span10", :placeholder => "price"

  /CATEGORY/TAGS token input    
  %div.control-group
    =f.label :tag_tokens, "Categories", :class => "control-label token-label"
    %div.controls#token-field
      //insert tag form field here
      =f.text_field :tag_tokens, data: {:load => @post.tags}, :class => "input-block-level inline"



  /PHOTO UPLOAD FIELDS        
  %div.row-fluid
    %div.span8
      -@assets.each do |asset|
        =f.fields_for :assets, asset do |asset_fields|
          -if asset_fields.object.image_file_name.nil?
            %div.control-group
              =asset_fields.label "image", :class=>"control-label"
              %div.controls
                =asset_fields.file_field :image
          -else
            /= asset_fields.check_box asset_fields.file_field :image_delete, :label => 'Delete Image'
            =image_tag(asset_fields.object.image.url(:post))
            =asset_fields.label  "delete image"
            =asset_fields.check_box :_destroy

  /THIS IS THE GROUPS/ASSIGNMENTS SECTION...suck it
  %div.random-form-elements
    -if @message
      %div.row.message
        =@message
        /make a button to join groups in modal window
    %div.row.group-row
      %p Choose groups to notify. More than 2 groups costs $2.50
      =f.fields_for :assignments do |ff|
        =ff.label :_destroy, ff.object.group.name , :class => "checkbox" do
          =ff.check_box :_destroy, {:checked => ff.object.persisted?, :class=>"group-box checkbox"}, '0','1'
          =ff.object.group.name.humanize
          (#{ff.object.group.members.count} members) 
        
          =ff.hidden_field :group_id
          
      = f.label :premium
      = f.check_box :premium
     
  /STRIPE INTEGRATION FOR CREATING A CUSTOMER
  -unless @user.stripe_customer_id      
    %div#post-credit-fields{:style=>"display:none"}      
      =render 'modal_credit', user: @user
      %div.row
      / .field
      /   = f.label :premium
      /   = f.check_box :premium
  %div.control-group#new-post-submit
    = f.submit 'Upload your post!', :class => "btn btn-custom btn-large"

/ %div#tier_explanation_wrapper
/   %div#tier_explanation
/     %p Assign your post to a value tier. The instant someone clicks "buy" on your post, an email with a coupon or giftcard will arrive in your inbox.
/   %div#tier_arrow
