/////////////////////////////
/////// USER FORM   /////////
/////////////////////////////
/only needs to enter these fields:
/post category
/title
/tier or cash
/description
/tags
/.....NO email field

= form_for @post.new_record? ? setup_post(@post, @groups) : @post, :html => { :multipart => true, :class => "form-horizontal user-post #{ @post.new_record? ? "form": "edit-form"}"} do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  =f.hidden_field :stripe_card_token
  %div.control-group
    .control-label=label_tag "Post Type"
    %div.controls
      .btn-group{"data-toggle" => "buttons-radio"}
        %button.switch.btn.active{"data-id" => @post_categories.first.id, "id" => "category1"} #{@post_categories.first.name}
        -@post_categories[1..6].each do |c|
          %button.switch.btn{"data-id" => c.id, "id" => "category"+c.id.to_s} #{c.name} 
          / =f.label :post_category, :class => "radio" do
          /    =f.radio_button :post_category_id, c.id, :class => "btn btn-info", :html => {"data-toggle" => "buttons-radio", "class-toggle" => "btn-info"}
      =f.hidden_field :post_category_id, id: "post_cateogry_button_value", value: "1"
    
  /POST TITLE
  %div.control-group
    =f.label :title, :class => "control-label"
    %div.controls
      = f.text_field :title, :class => "input-block-level inline", :placeholder => "Perfectly Functional Dorm Fridge"

  /DESCRIPTION    
  %div.control-group
    =f.label :description, :class => "control-label"
    %div.controls
      = f.text_area :description, :class => "input-block-level inline", :placeholder => "clean, works well, 16 cubic feet, etc", :rows => "8"
  
  
  
  
  //////////////////////////////
  ///// WITH COUPON OPTION /////
  //////////////////////////////
  / %a.stripe-connect.light-blue{href: "https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_32D88BD1qLklliziD7gYQvctJIhWBSQ7"}
  /   %span Connect with Stripe
    
  / /TIER and CASH MONEY FIELDS
  %div#get_paid_stuff
    %div.row-fluid
      %div.span7
        %div.control-group
          =f.label :tier, "Payment method", :class=>"control-label"
          %div.controls#tier_field
            %p InstaPayment
            = f.collection_select(:tier_id, Tier.all, :id, :name, {:prompt => 'Value of your post'},:class => "inline")
            %p.helper
              %span#gift_card_value
              giftcard sent to your inbox upon sale
      %div.span5
        %div.span1
          %p.underline or
        %div.span11
          %div.control-group.span7.padding5
            = f.label :cash, :class=>"control-label"
            %div.controls#cash-box
              =f.check_box :cash, :class => "input-block-level inline cash-box"
          %div.cash-field-cloak.span5{:style=>"display:none"}
            %div.cash-field
              $
              =f.text_field :price, :class => "input-block-level inline span10", :placeholder => "price"
  %div#compensation{:style=>"display:none"}
    %div.row-fluid
      %div.span7
        %div.control-group
          Compensation:
          %div.controls
            / -[:lump_sum, :hourly_rate, :other].each do |r|
            /   =f.label r, class:"radio" do
            /     =radio_button_tag , class: "input-block-level inline"
            /     =label_tag r
            /     %div.span4{:style=>"display:none", class: r}
            /       =f.text_field :lump_sum
            / /=f.input :include_cover, :as => :radio, :collection => [:lump_sum, :hourly_rate, :other], :label => "Compensation:"
            
            
            =f.label :lump_sum, class: "radio" do
              =radio_button_tag 'compensation',1, true, class: "input-block-level inline lump compensation"
              =label_tag "Lump Sum"
              %div#lump_text
                $
                =f.text_field :lump_sum, id:"lump_text", class:"span4"
            =f.label :hourly_rate, class: "radio" do
              =radio_button_tag 'compensation',2, false, class: "input-block-level inline hrly compensation"
              =label_tag "hourly_rate"
              %div#hrly_text{:style=>"display:none"}
                $
                =f.text_field :hourly_rate, id:"hrly_text", class:"span4"
                per hour
            =f.label :other, class: "radio" do
              =radio_button_tag 'compensation',3, false, class: "input-block-level inline other compensation"
              =label_tag "other"
              %div#other_text{:style=>"display:none"}
                =f.text_field :other, id:"other_text", class:"span8"
            / =f.label :hourly_rate, class: "radio" do
            /   =f.radio_button :hourly_rate, class: "input-block-level inline"
            /   =label_tag "Hourly Wage"
            / =f.label :other, class: "radio" do
            /   =f.radio_button :other, class: "input-block-level inline"
            /   =label_tag "Other"
            /   
  /CASH MONEY FIELDS
  / %div#get_paid_region
  /   %div.control-group
  /     =f.label :tier, "Get Paid", :class=>"control-label"
  /     %div.controls
  /       $
  /       =f.text_field :price, :class => "input-block-level inline span2", :id => "price_field", :placeholder => "price"
        
  %div.control-group
    %div.controls
      %p{:style => "font-weight: bold"}
        %span{:style => "text-decoration: underline"} Premium:
        Make sure your post gets seen, stays active longer, is more visible to buyers, and looks better than all the other posts
      = f.label :premium, class: "checkbox" do
        = f.check_box :premium, class: "checkbox", id: "premium"
        =label_tag "Premium Please"
                   
  /CATEGORY/TAGS token input    
  %div.control-group
    =f.label :tag_tokens, "Tags", :class => "control-label token-label"
    %div.controls#token-field
      //insert tag form field here
      =f.text_field :tag_tokens, data: {:load => @post.tags}, :class => "input-block-level inline", :placeholder => "furniture"



  /PHOTO UPLOAD FIELDS
         
  %div.row-fluid
    %div.span8
      / %p S3 Direct:
      / =f.s3_file_field '[assets_attributes][0][image]', :class => 'js-s3_file_field'
      / .progress
      /   .meter{ :style => "width: 0%" }
      /   
      / -@assets.each do |asset|
      / 
      /   =f.fields_for :assets, asset do |asset_fields|
      /     -if asset_fields.object.image_file_name.nil?
      /       = link_to_add_fields "Add Another Image", f, :assets
      /       %div.control-group
      /         =asset_fields.label "image", :class=>"control-label"
      /         %div.controls
      /           
      /           / =asset_fields.s3_file_field :image, :class => 'js-s3_file_field', :key => "/uploads/${timestamp}/${filename}"
      /           / .progress
      /           /   .meter{ :style => "width: 0%" }
      
      -@assets.each do |asset|
        =f.fields_for :assets, asset do |asset_fields|
          -if asset_fields.object.image_file_name.nil?
            %div.control-group
              =asset_fields.label "image", :class=>"control-label"
              %div.controls
                =asset_fields.file_field :image
            %div.control-group
              %div.controls
                = link_to_add_fields "Add Another Image", f, :assets
                
            
          
          -else
            /= asset_fields.check_box asset_fields.file_field :image_delete, :label => 'Delete Image'
            =image_tag(asset_fields.object.image.url(:post))
            =asset_fields.label  "delete image"
            =asset_fields.check_box :_destroy
     

  /THIS IS THE GROUPS/ASSIGNMENTS SECTION...suck it
  %div.random-form-elements
    -if @info_message
      %div.row.message
        =@info_message
        /make a button to join groups in modal window
    %div.row.group-row
      %p Choose groups to notify
      =f.fields_for :assignments do |ff|
        =ff.label :_destroy, ff.object.group.name , :class => "checkbox" do
          =ff.check_box :_destroy, {:checked => ff.object.persisted?, :class=>"group-box checkbox"}, '0','1'
          =ff.object.group.name.humanize
          (#{ff.object.group.members.count} members) 
        
          =ff.hidden_field :group_id

  /STRIPE INTEGRATION FOR CREATING A CUSTOMER
  -if current_user && current_user.stripe_customer_id == nil   
    %div#post_credit_fields{:style=>"display:none"}      
      =render 'modal_credit', user: current_user
      / =render 'skeuocard'
      %div.row
      / .field
      /   = f.label :premium
      /   = f.check_box :premium
      
      
      
      
      
      
      
  /IMAGES
  / 
  / = f.label :image, "Upload images:"
  / = f.file_field :image, multiple: true, name: "post[image]"
  / %script#template-upload{type: "text/x-tmpl"}
  /   :cdata
  /     <div class="upload">
  /     {%=o.name%}
  /     <div class="progress"><div class="bar" style="width: 0%"></div></div>
  /     </div>
  / .row.fileupload-buttonbar
  /   .span7
  /     / The fileinput-button span is used to style the file input field as button
  /     %span.btn.btn-success.fileinput-button
  /       %i.icon-plus.icon-white
  /       %span Add files...
  /       = f.file_field :image
  /     %button.btn.btn-primary.start
  /       %i.icon-upload.icon-white
  /       %span Start upload
  /     %button.btn.btn-warning.cancel{type: "reset"}
  /       %i.icon-ban-circle.icon-white
  /       %span Cancel upload
  /     %button.btn.btn-danger.delete{type: "button"}
  /       %i.icon-trash.icon-white
  /       %span Delete
  /     %input.toggle{type: "checkbox"}/
  /   .span5
  /     / The global progress bar
  /     .progress.progress-success.progress-striped.active.fade
  /       .bar{style: "width:0%;"}
  / / The loading indicator is shown during image processing
  / .fileupload-loading
  / %br/
  / / The table listing the files available for upload/download
  / %table.table.table-striped
  /   %tbody.files{"data-target" => "#modal-gallery", "data-toggle" => "modal-gallery"}
  /   
  %div.control-group
    %div.controls
      %div#purchase_message_premium{:style => "display:none;"} $2: Premium Post
      %div#purchase_message{:style => "display:none;"} $3: Notify more than 2 groups or 500+ people
  
  
  /************************************************************       
  /FACEBOOK
  /************************************************************    
      
  / %div.control-group
  /   %div.controls
  /     %p{:style => "font-weight: bold"}
  /       %span{:style => "text-decoration: underline"} Share on Facebook:
  /     = f.label :post_to_facebook, class: "checkbox" do
  /       = f.check_box :post_to_facebook, class: "checkbox", id: "post_to_facebook"
  /       =label_tag "Share on Facebook"
  /       -if @user.oauth_token.nil?
  /         %p your account is not linked to facebook. If you check this box, your item will be posted and your user details will be updated to reflect facebook integration
  
  
  
  -if @post.new_record?
    %div.control-group
      %div.controls
        = f.submit 'Upload your post!', :class => "btn btn-custom btn-large submit-button", :id => "#{current_user.stripe_customer_id ? "customer_upload_post" : "upload_post"}"
  -else
    %div.control-group
      %div.controls
        = f.submit 'Edit your post!', :class => "btn btn-custom btn-large submit-button"
/ %div#tier_explanation_wrapper
/   %div#tier_explanation
/     %p Assign your post to a value tier. The instant someone clicks "buy" on your post, an email with a coupon or giftcard will arrive in your inbox.
/   %div#tier_arrow
/ %script#template-upload{type: "text/x-tmpl"}
/   :cdata
/     <div class="upload">
/     {%=o.name%}
/     <div class="progress"><div class="bar" style="width: 0%"></div></div>
/     </div>