= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :borrow
    = f.check_box :borrow
  .field
    = f.label :tier
    = f.number_field :tier
  .field
    = f.label :cash
    =f.check_box :cash
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :email
    = f.number_field :email
  %div.container     
    -@categories.each do |c|
      =f.label :post_category, :class => "radio" do
        =f.radio_button :post_category_id, c.id
        =c.name.humanize
  -@assets.each do |asset|
    =f.fields_for :assets, asset do |asset_fields|
      -if asset_fields.object.image_file_name.nil?
        .field
          =asset_fields.label "image"
          =asset_fields.file_field :image
      -else
        .field
          =image_tag(asset_fields.object.image.url(:article))
          =asset_fields.label  "delete image"
          =asset_fields.check_box :_destroy
  / .field
  /   = f.label :premium
  /   = f.check_box :premium
  .actions
    = f.submit 'Save'
