%p#notice= notice

/////////////////////////////
/////// SHOW A POST   ///////
/////////////////////////////

%div.row-fluid
  %div.span2
    =link_to image_tag(@post.assets.empty?  ? '/assets/small.png': @post.assets.first.image.url(:medium), :alt => @post.title), post_url(@post), :class => "thumbnail"
    %div.row-fluid
      -if @post.price
        $#{@post.price}
      -elsif @tier
        Tier: #{@tier.name}
    /buy button
    /%a.btn{remote: :true, :href => "#buy_modal", :role => "button"} Buy
    -if @post.tier_id
      =link_to_modal 'Buy', new_transaction_path(:post_id => @post.id), :remote => true, :id => "new_transaction_link", :class => "btn btn-success"
    %a.btn{ :href => "mailto:#{@post.email}", :role => "button"} Email
    %div#buy_modal{:style=>"display:none"}
      -if signed_in? && current_user.stripe_customer_id
        =render 'user_you_sure_modal'
      -elsif signed_in? && current_user.stripe_customer_id.nil?
        =render :partial => 'pages/user_credit_modal'
      -else
        =render :partial => 'pages/non_user_credit_modal'
  %div.span8
    %div.row-fluid
      %h1 #{@post.title}
      -@post.tags.each do |tag|
        =link_to tag.name, tag_url(tag), :class => "tag"
    %div.row-fluid
      %p #{@post.description}




= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
