.modal-header
  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
  %h2#myModalLabel You need to add a credit card
= simple_form_for @transaction, :validate => true, :remote => true, :form => { "data-type" => "js" } do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= "#{pluralize(@transaction.errors.count, "error")} prohibited this transaction from being saved:"
      %ul
        - @transaction.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :stripe_card_token
  = f.hidden_field :tier_id
  = f.hidden_field :premium
  = f.hidden_field :notify_premium
  = f.hidden_field :user_id
  = f.hidden_field :customer_id
  = hidden_field_tag 'post_id'
  %noscript
    %p This form requires Javascript to use
  #credit-card{:style => @user.stripe_customer_id ? "display:none" : "display:block"}
    #credit-card-errors{:style => "display:none"}
      #stripe-error-message.alert-message.block-message.error
    / these fields are disabled before submission and are never transmitted back to rails

  %div.row-fluid
    = label_tag :credit_card_number
    = text_field_tag :credit_card_number, params[:credit_card_number], :class=>"credit-number span12"
  %div.row-fluid
    %div.span6
      = label_tag :expiry_date
      = date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25}, {:class =>"credit-expiry inline"}
    %div.span3
    %div.span3.credit-cvv
      = label_tag :cvv, "CVV"
      = text_field_tag :cvv, params[:cvv], :class=>"credit-cvv input-block-level"
  %div.row-fluid
    =f.label :email
    =f.text_field :email, :validate => true
  %div.row-fluid
    =text_field_tag :password, params[:password]
  .actions
    = f.submit 'Save'
