= f.hidden_field :stripe_card_token
= f.hidden_field :tier_id
= f.hidden_field :premium
= f.hidden_field :notify_premium
= f.hidden_field :user_id
= f.hidden_field :customer_id


%fieldset
  %legend Credit Card Stuff
  .padding-left
    -if @user.stripe_customer_id
      #change-card.clearfix
        %label Card
        .input
          %span
            Using card ending with
            \#{@user.stripe_customer_id}
            \#{link_to "(change)", "#"}

    %noscript
      %p This form requires Javascript to use
    #credit-card{:style => @user.stripe_customer_id ? "display:none" : "display:block"}
      #credit-card-errors{:style => "display:none"}
        #stripe-error-message.alert-message.block-message.error
      / these fields are disabled before submission and are never transmitted back to rails

    %div.form-group
      = label_tag :credit_card_number
      = text_field_tag :credit_card_number, params[:credit_card_number], :class=>"col-lg-12 form-control", :id => "card_number", type: "text"
    .form-group
      .col-lg-8.no-left-padding
        = label_tag :expiry_date, "Exp. Date"
        .container.no-left-padding
          .col-lg-7.no-left-padding
            = select_month nil, {:add_month_numbers => true, :use_short_month => true}, {:name => nil, :id => "card_month", :class => "form-control col-lg-7"}
          .col-lg-5.no-left-padding
            = select_year nil, {:start_year => Date.today.year, :end_year => Date.today.year+15}, {:name => nil, :id => "card_year", :class => "form-control col-lg-5"}
        /= date_select "", :expiry_date, {:discard_day => true, :order => [:month, :year], :use_month_numbers => true, :start_year => Date.today.year, :end_year => Date.today.year + 25}, {:class =>"credit-expiry inline"}
    
    
      .col-lg-4
        = label_tag :cvv, "CVV"
        = text_field_tag :cvv, params[:cvv], :class=>"col-lg-12 form-control", :id => "card_code"

    %div.form-group
      =f.label :email
      =f.text_field :email, :validate => true, :value => (current_user ? current_user.email : ""), :class=>"form-control"
    -unless current_user
      %div.form-group
        =label_tag :name
        =text_field_tag :name, params[:name], :class=>"form-control"
      %div.from-group
        =label_tag :password
        =text_field_tag :password, params[:password], :class=>"form-control"

      / empty
      %span.note
      Your credit card details will be sent directly to our payment processor