%h1 Listing transactions

%table
  %tr
    %th Price
    %th Tier
    %th Premium
    %th Notify premium
    %th User
    %th Customer
    %th
    %th
    %th

  - @transactions.each do |transaction|
    %tr
      %td= transaction.price
      %td= transaction.tier_id
      %td= transaction.premium
      %td= transaction.notify_premium
      %td= transaction.user_id
      %td= transaction.customer_id
      %td= link_to 'Show', transaction
      %td= link_to 'Edit', edit_transaction_path(transaction)
      %td= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Transaction', new_transaction_path
