%h1 Listing images

%table
  %tr
    %th Image
    %th User
    %th
    %th
    %th

  - @images.each do |image|
    %tr
      %td #{link_to image_tag(image.assets.empty?  ? '/assets/small.png': image.assets.first.image.url(:small), :alt => 'image'), image_url(image)}
      %td= image.user_id
      %td= link_to 'Show', image
      %td= link_to 'Edit', edit_image_path(image)
      %td= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
