/ %p.pull-right#notice= notice
-flash.each do |name, msg|
  =content_tag :div, msg, class: name
%div.row-fluid.nav-area
  %h2.pull-left #{link_to "People and Stuff", root_path, :class => "header-title"}
  %label.credit_card_label
  %ul.nav.nav-pills.pull-right.colored-pills
    %li{:class => "#{'active' if current_page?(root_path)}"}=link_to "Home", root_path 
    %li{:class => "#{'active' if current_page?(about_path)}"}=link_to "About", about_path
    %li{:class => "#{'active' if current_page?(new_post_path)}"}=link_to "New Post", new_post_path
    %li{:class => "#{'active' if current_page?(groups_path)}"}=link_to "Groups", groups_path
    -if signed_in?
      %li{:class => "#{'active' if current_page?(user_path(current_user))}"}=link_to "Your page", user_path(current_user)
      %li=link_to "Sign out", signout_path, :class => "#{'active' if current_page?(root_path)}"
      /%li=link_to "Add Image", new_image_path, :class => "#{'active' if current_page?(root_path)}"    
    -else
      /=link_to_open_modal('Sign up', new_user_path, '#signup_modal', {class: 'action'})
      /%li=link_to "Sign up", new_user_path
      %li= link_to_modal 'New User', new_modal_users_path, :width=> "600", :height =>"400", :remote => true, :id => "new_user_link"
      %li{:class => "#{'active' if current_page?(new_user_path)}"}= link_to "Sign Up", new_user_path
      /%li= link_to "Sign up", conversations_path, data: { toggle: "modal", target: "#sign_up_modal" 
      /%a.btn{ "data-target" => "#sign_up_modal", "data-toggle" => "modal", 'data-remote' => "/users/new", :href => "/users/new", :role => "button"} Sign up
      / %div#sign_up_modal.modal.fade{ 'data-userid' => "#{@user.id}", :role => "dialog",:style=>"display:none"}
      /   =render 'users/new_modal'
      %li=link_to "Sign In", signin_path, :class => "#{'active' if current_page?(root_path)}"
  


