/ %p.pull-right#notice= notice
/%p #{session.inspect}
-flash.each do |name, msg|
  =content_tag :div, msg, class: name
%div.row-fluid.nav-area
  %div.span5
    %h2.pull-left #{link_to "People and Stuff", root_path, :class => "header-title"}
    =image_tag "circlelogo1.png", :id => "header_logo"
    /%label.credit_card_label
  %div.span7
    %div.row-fluid
      %span.user-nav.pull-right
        / - if user_signed_in?
        /   Logged in as
        /   = succeed "." do
        /     %strong= current_user.email
        /   = link_to 'Edit profile', edit_user_registration_path
        /   |
        /   \#{link_to "Logout", , method: :delete}
        / - else
        /   = link_to "Sign up", 
        /   |
        /   \#{link_to "Login", }
        
        -if user_signed_in?
          -if current_user.name
            =link_to current_user.name, user_path(current_user)
          -else
            =link_to "Your Page", user_path(current_user)
          %span.points
            =current_user.points
            / %i.icon
            / =current_user.badges.count
            
            
          %i.icon.icon-user.nav-icon
          =link_to "Sign out", destroy_user_session_path, :method => :delete, :class => "#{'active' if current_page?(root_path)} nav-user-signout"    
        -else
          %i.icon.icon-user.nav-icon
          = link_to "Sign Up", new_user_registration_path, :class => "nav-user-link"
          or
          =link_to "Sign In", new_user_session_path, :class => "#{'active' if current_page?(root_path)} nav-user-link"
          
        / -if signed_in?
        /   =link_to current_user.name , user_path(current_user)
        /   %i.icon.icon-user.nav-icon
        /   =link_to "Sign out", signout_path, :class => "#{'active' if current_page?(root_path)} nav-user-signout"    
        / -else
        /   %i.icon.icon-user.nav-icon
        /   = link_to "Sign Up", new_user_path, :class => "nav-user-link"
        /   or
        /   =link_to "Sign In", signin_path, :class => "#{'active' if current_page?(root_path)} nav-user-link"
    %div.row-fluid
      %ul#nav_pill_section.nav.nav-pills.pull-right.colored-pills 
        %li{:class => "#{'active' if current_page?(root_path)}"}=link_to "Home", root_path
        %li{:class => "#{'active' if current_page?(about_path)}"}=link_to "About", about_path
        %li#nav-pill-pink{:class => "#{'active' if current_page?(new_post_path)}"}=link_to "New Post", new_post_path
        %li{:class => "#{'active' if current_page?(groups_path)}"}=link_to "Groups", groups_path
        %li{:class => "#{'active' if current_page?(tags_path)}"}=link_to "Tags", tags_path
        / -if signed_in?
        /   %li#nav-pill-yellow{:class => "#{'active' if current_page?(user_path(current_user))}"}=link_to "Your page", user_path(current_user)
        /   %li=link_to "Sign out", signout_path, :class => "#{'active' if current_page?(root_path)}"
        /   /%li=link_to "Add Image", new_image_path, :class => "#{'active' if current_page?(root_path)}"    
        / -else
        /   /=link_to_open_modal('Sign up', new_user_path, '#signup_modal', {class: 'action'})
        /   /%li=link_to "Sign up", new_user_path
        /   /%li= link_to_modal 'New User', new_modal_users_path, :width=> "600", :height =>"400", :remote => true, :id => "new_user_link"
        /   %li{:class => "#{'active' if current_page?(new_user_path)}"}= link_to "Sign Up", new_user_path
        /   /%li= link_to "Sign up", conversations_path, data: { toggle: "modal", target: "#sign_up_modal" 
        /   /%a.btn{ "data-target" => "#sign_up_modal", "data-toggle" => "modal", 'data-remote' => "/users/new", :href => "/users/new", :role => "button"} Sign up
        /   / %div#sign_up_modal.modal.fade{ 'data-userid' => "#{@user.id}", :role => "dialog",:style=>"display:none"}
        /   /   =render 'users/new_modal'
        /   %li=link_to "Sign In", signin_path, :class => "#{'active' if current_page?(root_path)}"

-if current_user
  %div.row-fluid
    %div.search-row
      %div.span3
        /new post button
        =link_to "Post Something", new_post_path, :id => "btn_post_flat", :role => "button"
      %div.span2
        =render :partial => "search/category_dropdown"

      %div.span7
        /search bar
        =render :partial => "search/search_form"

