!!!
%html
  %head
    %title Communitymarket
    = stylesheet_link_tag "application", :media => "all"
    %link{:href => "jquery.modal.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.8/jquery-ui.min.js"}
    = csrf_meta_tags
  %body
    = yield