!!!
%html
  %head
    %title People and Stuff
    %script{:type => "text/javascript", :src  => "//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,700,800', :rel => "stylesheet", :type => "text/css"}/
    %link{:href => 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css', :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application", "https://js.stripe.com/v2/"
    %meta{:name=>"description", :content=> "A community marketplace where you interact with people you know and trust and can buy new items from local small businesses. Get rid of stuff, save money, and build your community."}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}


    :javascript
      $(function() {
        var t1 = new Array( "Sell", "Get", "Borrow", "Give");
        var i = 0;
        var width;
        var tid = setInterval(
            function() {
                $("#changingtext span").animate({'opacity': 0}, 1000, function () {
                  $(this).text(t1[i]);
                  width = $('#chkWidth').text(t1[i]).width();
                  console.log(t1[i], width);
                  $(this).animate({'opacity': 1, 'width': width}, 1000);
              });

              if(i < t1.length -1)
                  i++;
              else i = 0;

            }, 3000 );

      });
      $(function() {
        var t2 = new Array( "people that care", "Dartmouth Students", "your workplace", "Upper Valley cyclists", "your teammates", "targeted groups" );
        var i2 = 0;
        var width;
        var tid2 = setInterval(
            function() {
                $("#changingtext2 span").animate({'opacity': 0}, 1000, function () {
                  $(this).text(t2[i2]);
                  width = $('#chkWidth2').text(t2[i2]).width() +100;
                  console.log(t2[i2], width);
                  $(this).animate({'opacity': 1, 'width': width, 'height':38.5}, 1000);
              });

              if(i2 < t2.length -1)
                  i2++;
              else i2 = 0;

            }, 3000 );

      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37799908-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = csrf_meta_tags
    = tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY



  %body
    %div.container
      =render 'layouts/header'

    %div.container.main
      %div.row
        %p.notice= notice
        %p.alert= alert
        /=render partial: "shared/post_search_bar" unless @disable_nav
        -if current_user
          -if current_page?(root_url)
            =render partial: "layouts/banner_icons"
          %div.row
            =render partial: "shared/post_search_bar" unless current_page?(landing_url)
        = yield
        /= debug(params) if Rails.env.development?
      /%div#signup_modal.modal.hide
    %footer
    %script{:type=>"text/javascript"}
      setTimeout(function(){var a=document.createElement("script");
      var b=document.getElementsByTagName("script")[0];
      a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0022/3107.js?"+Math.floor(new Date().getTime()/3600000);
      a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
